@import "tailwindcss";
@import "../node_modules/swiper/swiper-bundle.min.css";
@import "font.module.css";
@plugin "flowbite/plugin";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@source "../node_modules/flowbite";




@theme {
    --color-primary: #194BF0;
    --color-primary-50: #D9E1FD;
    --color-primary-100: #B2C3FA;
    --color-primary-200: #8CA5F8;
    --color-primary-300: #6687F5;
    --color-primary-400: #3F69F3;
    --color-primary-500: #194BF0;
    --color-primary-600: #0D3BD0;
    --color-primary-700: #0B2FA6;
    --color-primary-800: #08237D;
    --color-primary-900: #051753;
    --color-primary-950: #030C2A;

}

@theme {

    --color-neutral-50: #F3F3F3;
    --color-neutral-100: #D7D7D7;
    --color-neutral-200: #C2C2C2;
    --color-neutral-300: #AEAEAE;
    --color-neutral-400: #9A9A9A;
    --color-neutral-500: #868686;
    --color-neutral-600: #727272;
    --color-neutral-700: #5E5E5E;
    --color-neutral-800: #494949;
    --color-neutral-900: #353535;
    --color-neutral-950: #212121;

}

@theme {

    --color-Tint5: #FFF4DC;
    --color-Tint4: #FFEDC4;
    --color-Tint3: #FEDF95;
    --color-Tint2: #FED066;
    --color-Tint1: #FDC236;
    --color-Secondary: #FDB713;
    --color-Secondary-Shade1: #D79C10;
    --color-Secondary-shade2: #A4770C;
    --color-Secondary-shade3: #725209;
    --color-Secondary-shade4: #3F2E05;
    --color-Secondary-shade5: #261B03;

}

@theme {
    --font-Estedad-Bold: "Estedad-Bold";
    --font-Estedad-ExtraBold: "Estedad-ExtraBold";
    --font-Estedad-ExtraLight: "Estedad-ExtraLight";
    --font-Estedad-Light: "Estedad-Light";
    --font-Estedad-Medium: "Estedad-Medium";
    --font-Estedad-Regular: "Estedad-Regular";
    --font-Estedad-SemiBold: "Estedad-SemiBold";
    --font-Estedad-Thin: "Estedad-Thin";
}

body {
    @apply font-Estedad-Regular;
}

body {
    background-color: #F3F3F3;
}

@layer components {
    .button {
        @apply border bg-primary-500 rounded-xl text-white hover:bg-primary-900 duration-300 ease-in-out hover:-translate-y-0.5;
    }
}

@layer components {
    .button-rent {
        @apply hover:-translate-y-0.5 border-neutral-100 border-1 text-black hover:bg-primary-500 hover:text-white duration-300 ease-in-out;
    }
}

@layer components {
    .button-2 {
        @apply flex justify-center border rounded-xl text-primary border-primary font-Estedad-Medium hover:bg-primary hover:text-white duration-300 ease-in-out;
    }
}

@layer components {
    .Comment-card {
        @apply py-4 px-4 flex justify-center items-center gap-5 bg-white border border-neutral-100 rounded-2xl hover:bg-Secondary cursor-pointer duration-300 ease-in-out;
    }
}


@layer components {
    .slide {
        @apply flex items-center justify-center opacity-60 transition-all duration-300 hover:opacity-100
    }
}


.swiper-wrapper {
    transition-timing-function: linear !important;
}

@layer utilities {
    .scroll::-webkit-scrollbar {
        display: none;
    }
}

.text-small {
    font-size: 12px;
}

